html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-weight: normal;
  font-family: "文泉驛正黑", "WenQuanYi Zen Hei", "Heiti TC", "儷黑 Pro",
    "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
}

* {
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.5em;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  display: block;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
}
