:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

table {
  width: auto;
  font-size: 1.5em;
  border: 5px solid #000;
  border-radius: 8px;
  padding: 5px;
  background: #333;
}

td,
th {
  height: 3em;
  min-width: 3em;
}

th {
  background: #ddd;
  border-radius: 5px;
  text-align: right;
  padding: 0 0.5em;
}

td {
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 3px #000;
  border-radius: 5px;
}
